.ui-widget-header {
    background: none repeat scroll 0 0 #003883;
    color:#fff;
}

.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr, .ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl{
    border-radius: 0;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited{
	background-color:#cdcdcd;
	color: #003883;
	font-weight:bold;
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, .ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited{
	background-color:#fff;
	color: #003883;
	font-weight:bold;
}

#hidebar{
	background-color:#696969; 
	font-weight:bold; 
	color:#cacaca; 
	padding:7px; 
	height:40px;
	font-size:15px;
}

#showbar{
	background-color:#696969; 
	font-weight:bold; 
	color:#cacaca; 
	padding:7px; 
	height:40px;
	width:26px;
	font-size:15px;
	left:0;
}

#sidebar1{
	border: 1px solid #003883;
	border-radius: 0;
	background:#fff;
	color:#000;
}

.ui-state-default .ui-icon {
    background-image: url("images/ui-icons_ffffff_256x240.png");
}

.ui-widget-header .ui-icon {
    background-image: url("images/ui-icons_ffffff_256x240.png");
}

#reSearchMap2, .popButtons{
background-color: #003883;
border-color: #003883;
color: #fff;	
}

.ui-widget-header a {
    color: #fff;
}

.poptitle{
font-size:15px;
color:#003883;
padding-right:20px;
}

.popheading {
    font-size: 14px;
}

.popactivities {
    color: #003883;
    font-size: 13px;
}

.popaddress{
font-size:11px;	
margin-top: 5px;	
}

.popphone{
margin-top: 5px;	
}

.popcomment {
    padding-right: 20px;
    margin-top: 5px;
}

.popbuttons{
	
}

.markerInfo{
width:220px;
height:150px;
}

.textimage{
height:80px;	
}

.textrecord:hover{
background-color:#eeeeee;	
}

#sidebar .ui-state-default, .ui-widget-content .ui-state-default, #sidebar .ui-widget-header .ui-state-default, #sidebar .ui-state-default a, #sidebar .ui-state-default a:link, #sidebar .ui-state-default a:visited{
	font-weight:normal;
}

#sidebarTabs{
border:0;	
}

.ui-multiselect-menu label{
	font-weight:normal;
	text-transform: uppercase;
}

.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus{
border:0 none;	
color:#003883;
}