.langdropdown dd, .langdropdown dt, .langdropdown ul { margin:0px; padding:0px; }
.langdropdown dt{padding-right:10px;}
        .langdropdown dd { position:relative; }
        .langdropdown a, .langdropdown a:visited { color:#816c5b; text-decoration:none; outline:none;}
        .langdropdown a:hover { color:#5d4617;}
        .langdropdown dt a:hover { color:#5d4617; border: 1px solid #d0c9af;}
        .langdropdown dt a {background:#e4dfcb url(../images/flags/arrow.png) no-repeat scroll right center; display:block; padding-right:20px;
                        border:1px solid #d4ca9a; width:150px;}
        .langdropdown dt a span {cursor:pointer; display:block; padding:0 5px;}
        .langdropdown dd ul { background:#e4dfcb none repeat scroll 0 0; border:1px solid #d4ca9a; color:#C5C0B0; display:none;
                          left:0px; padding:5px 0px; position:absolute; top:2px; width:auto; min-width:170px; list-style:none;}
        .langdropdown span.value { display:none;}
        .langdropdown dd ul li a { padding:0px 10px; display:block;}
        .langdropdown dd ul li a:hover { background-color:#d0c9af;}
        
        .langdropdown img.flag { border:none; vertical-align:middle; margin-left:10px; }
        .flagvisibility { display:none;}
        
.langdropdown ul li{
    font-size:90%;
}
