@charset "utf-8";

body {
     background: none repeat scroll 0% 0% #ffffff;
     color: #000000;
     font: 13px Verdana,Arial,Helvetica,sans-serif;
     padding-top: 10px; 
}

#container {
     background: none repeat scroll 0% 0% #FFFFFF;
     border: 1px solid #000000;
     margin: 0pt auto;
     text-align: left;
     width: 1000px;
     min-height:800px;
}

#wrapper{

}

#header {
     background: none repeat scroll 0% 0% #DDDDDD;
     padding: 0pt 10px;
     padding-top:5px;
}

#logo{
float:left;
}
#logo img{
    border:none;
}

.container1:after {
    clear: both;
}
.container1:before, .container1:after {
    content: "";
    display: table;
}

#header h1 {
     margin: 0pt;
     padding: 10px 0pt;
}


#infoArea {
     display: inline;
     width: 100%;
}

#sidebar1 {
    /* background: none repeat scroll 0% 0% #E7F8FF; */
     border-radius: 5px 5px 5px 5px;
    /* border: 1px solid #C7E3EF; */
     padding: 4%;
     border: 1px solid #ccc;
     margin: 0 auto 20px auto;
     text-align:center;
     background-image:url('../images/sidebg1.png');
     background-repeat:repeat;
     
}

.a_block{
    display:inline-block;
    text-align:left;
}

#sidebarLogin {
  /*   background: none repeat scroll 0% 0% #FCFFD6; 
     border-radius: 5px 5px 5px 5px;
     border: 1px solid #55C0EE; */
     padding: 10px;
     background-image:url('../images/sidebg1.png');
     text-align:center;
}

#esocial {
     margin-top:20px;
     width: 100%;
}

#mainContent {
     
}

/* resultTable  start */
table#resultTable {
     border-collapse: collapse;
     border-color: #CBCBCB;
     border-radius: 5px 5px 5px 5px;
     border-spacing: 2px;
     border-style: none;
     border-width: medium;
     width:100%;
}

table#resultTable tr {
     border:1px solid #CBCBCB;
}

.headRow1 td {
     background-color: #E1E1E1;
     color:#000;
 }
.headRow2 td {
     background-color: #F7F7F7;
     font-weight:bold;
     height:40px;
}

.headRow2 a {
    text-decoration:none;
}

.headRow1 td.shownumResults{
	font-weight:normal;
	font-size:85%;
	text-align:right;
}

.priceDown, .cityDown, .dateDown{
	background-image:url(../images/down-sort.png); 
	background-repeat: no-repeat; 
	width:8px; 
	height:5px;
	display:inline;
	padding-left:10px;
}

.priceUp, .cityUp, .dateUp{
	background-image:url(../images/up-sort.png); 
	background-repeat: no-repeat; 
	width:8px; 
	height:5px;
	display:inline;
	padding-left:10px;
}


table#resultTable td {
     padding: 5px;
}


table#resultTable td.resultHeading {
     padding-right: 10px;
     width: 57%;

}

.resultHeading .infotext{
	color:#ACACAC;
	font-size:80%;
}

td.resultHeading a{
 text-decoration:none; 	
}


table#resultTable td.colhide {
padding-top: 10px;
vertical-align: top;
width:12px;
}

table#resultTable tr.pagination{
border:0;
}

table#resultTable tr.pagination td{
text-align:right;
}

table#resultTable tr.resultRow{
cursor:pointer;
}

tr.pagination a{
	text-decoration:none;
}
tr.pagination span {
     background: none repeat scroll 0% 0% #E7F8FF;
     border: 1px solid #C7E3EF;
     padding: 1px 10px;
     font-weight:bold;
}
.pagination .noPage {
display:none;
}

.pagination .pgNavSelected{
	background-color: #81DAF5;
}

.resultChild td{
	background-color:#FCFCD9;
	border-top:1px solid #fff;
}

.childImageCol{
font-size:90%;
}


/* resultTable  ends */

#footer {
       padding: 0pt 10px;
}

#footer p {
     margin: 0pt;
     padding: 10px 0pt;
     text-align:center;
}

.fltrt {
     float: right;
     margin-left: 8px;
}

.fltlft {
     float: left;
     margin-right: 8px;
}

.clearfloat {
     clear: both;
     font-size: 1px;
     height: 0pt;
     line-height: 0px;
}




.floatLeft {
float: left;
padding-right:50px;
}


#gallery {
    padding: 32px;
    background: #e1eef5;
    width:580px;
}

.ad-slideshow-controls {
     
     font-size: 11px;
     font-weight: bold;

}

.moreInfo {
     float: right;
     padding: 5px 10px;
     margin-left:5px;
        
}

.listingButtons .buyfeatured{
     background-color: #4a8bf5;
	 color:#fff;
     border: 1px solid #2E64FE;
     padding: 5px 10px;
     margin-left:5px;
     cursor:pointer;
     float: right;
}

.listingButtons2{
text-align:center;
}

.listingButtons2 .buyfeatured{
     background-color: #4a8bf5;
	 color:#fff;
     border: 1px solid #2E64FE;
     padding: 5px 10px;
     margin-left:5px;
     cursor:pointer;
   }

.listingButtons .buyfeatured:hover{
	 background-color: #2E64FE;
	}

.small{
	font-size:85%;
}
.small a{
	text-decoration:none;
	color:#000;
}

.loginForm input[type=text], .loginForm  input[type=password] {
	font-family: sans-serif;
	width:150px;
}
.registerForm input[type=text], .registerForm input[type=password] {
	font-family: sans-serif;
	width:150px;
}

.registerForm td{
	font-size:90%;
}

.redMessage{
	color:#FF0004;
	font-size:75%;
}

#memberMenu{
text-align:center;
}

.memberMenuItem{
	margin:0 auto;
	background-color:#2B2929;
	padding:5px;
	border:1px solid #fff;
	height: auto !important;
	height:18px;
	min-height: 18px;
    text-align:center;

}
.memberMenuItem:hover{
background-color:#cccccc;
color:#000;
}

#memberMenu .memberMenuItem a{
	text-decoration:none;
	color:#fff;
	font-weight:bold;
}

.currentMenuItem{
	margin:0 auto;
	background-color:#06377A;
	padding:5px;
	border:1px solid #fff;
	text-align:center;

}

#memberMenu .currentMenuItem a{
	text-decoration:none;
	color:#fff;
	font-weight:bold;
	padding:0;
}

.success_message{
background-color:#CEFACC;
padding:5px 10px;
font-size:120%;
}

.error_message{
background-color:#FACCCC;
padding:5px 10px;
font-size:120%;
}

#memberArea{
padding:10px;
border-collapse: collapse;
border-color: #CBCBCB;
border-radius: 5px 5px 5px 5px;
border-spacing: 2px;
border-style: none;
border-width: medium;
width:97%;
border:1px solid #ccc;
}

table#listingImageTable{
width:100%;
text-align:center;
}

#listingImageTable td{
border-color: #CBCBCB;
border-style: solid;
border-width: 1px;
height:200px;
vertical-align:bottom;
padding:10px;
}

.listingSmallImage
{
float: left;
margin-right:20px;
width:128px;
text-align:center;
}
.listingSmallImage a{
font-weight:bold;
text-decoration:none;
padding-top:5px;
font-size:85%;
}

div.listingItem{
padding:10px 4px;
}

div.listingItem ul {
float:right;
padding:2px;
}
div.listingItem ul li{
display:inline;
padding:0 20px;
}

div.listingItem span.listingItemValue{
padding:0 20px 0 5px;
}

span.itemspace{
padding-left:20px;
border-left:1px solid #ccc;
}

div#listingImages{
border: 1px solid #ccc;
padding: 10px 0;
text-align:center;
}
div#listingImages img{
width:77px;
height:47px;
margin:2px;
border: 1px solid #ccc;

}

.reListingHeadline{
font-size:110%;
}

#resultTable .alreadySeen{
margin-left:10px;
padding:0 5px;
font-weight:bold;

}
#resultTable .listingMarked{
margin-left:5px;
padding:0 5px;
font-weight:bold;

}

#resultTable .featuredlisting{
margin-left:5px;
padding:0 5px;
font-weight:bold;
	
}

.reHeading1{
padding-left:10px;
background-color:#C7E3EF;
color:#000;
}

#listingButtons{
 margin:15px 0;
 text-align:center;
}
#listingButtons span, a.listingcontact{
  padding: 5px 10px;
  margin-left:5px;
  margin-top: 5px;
}

#listingButtons span a{
color: #000000;
text-decoration:none;
}

#listingButtons span:hover {
cursor:pointer;
}

.tooltip{
background-color:#FFFFD5;
padding:5px;
border:1px solid #ccc;
}

#reMarkedListing, #reAlreadyMarkedListing, #reFlaggedListing{
display:inline;		
}

#listingButtons #reAlreadyMarkedListing span{
padding: 5px 10px;	
}

div.reContactInformation{
padding:10px;
min-height:150px;
margin-top:20px;
clear:both;
}

div#reListingOnMap{
border:1px solid #ccc;
height:300px;
width:100%;
}

fieldset#submitListingPage,fieldset#reProfilePage{
padding:10px 25px;
}

.rebutton{
margin-top:5px;
padding:2px 5px;
font-size:100%;
}

.recontact_image{
float:right;
padding-left:5px;
}

#listingAllowedThings{
float:right;
padding:10px;
}
#listingAllowedThings div{
padding-top:5px;
}

#reDescriptionRow .reListingDescription{
min-height:170px;
margin-bottom:20px;
/* max-width:650px; */
}


.smallOptional{
color:#204CA2;
font-size:9px;
padding-left:5px;
}

.smallOptional a{
color:#204CA2;
font-size:9px;
padding-left:5px;
text-decoration:none;
}

#mapOverlayDiv{
right: 0px;
bottom: 0px;
position: fixed;	
display:none;	
}

#mapOverlayDiv input{
	width:200px;
	height:50px;
	font-weight:bold;
	
}

.mapInfoPic{
width:50px;
height:50px;
float:left;
padding-top:10px;
}

.mapInfoText{
color:#626466;
}

.mapInfoText .smallText a{
	font-size:11px;
}

.infoBubble{
	background-image:url(images/bubble1.png) top left no-repeat;
	width:535px;
	height:95px;
}

div.newline1{
height:20px;
clear:left;
}

div.adminlabel{
width:270px;
float:left;
padding-left:20px;
}

.info_success{
background-color:#f9edbe;
border:1px solid #f0c36d;
padding:2px;
margin-bottom:5px;
}

.info_error{
background-color:#FBBFC5;
border:1px solid #F06C6C;
padding:2px;
margin-bottom:5px;
}

td.admintd h4{
padding:3px;
color:#ccc;
background-color:#2B2929;
}

td.admintd span.headinginfo{
font-size:80%;
padding-left:10px;
color:#FFFFE1;
background-color:#2B2929;
}

#header_top_menu{
float:right;
border:1px solid #fff;
}

#header_top_menu ul {
margin:0px;
padding:5px 0px;
background-color:#000;

}

#header_top_menu ul li{
display:inline;
padding:5px 10px;

}

#header_top_menu a{
color:#fff;
text-decoration:none;
}

#header_top_menu ul li.first_item{
border-right:1px solid #fff;
}

tr.allmembers td{
font-size:85%;
}

tr.bannedMember td{
background-color:#EFB8B8;
}


div.listing_status {
display:inline;
font-weight:bold;
padding:5px;
}

div.allMemNav{
clear:both;
margin-top:30px;
}

tr.inactivelistingChild td{
background-color:#F8E0F7;
}

tr.specialListing1 td{
background-color:#EBF4FF;
}

tr.speciallistingChild td{
background-color:#F4F9FF;
}

#top_ad_menu{
padding-bottom:5px;
text-align:right;
}

#sidebarad1{
margin-top:20px;
text-align:center;
}

#contactpage table{
margin-top:10px;
}

#contactpage table td{
font-size:110%;
}

td.infield{
padding:2px 10px;
}

td.infield input{
padding:5px 0;
}

div#contactpage{
margin: 0 auto;
width:70%;
}
#contactpage table, #contactpage table td{
border:0;
}
#contactpage table tr{
	border:0;
}

#listingStatus{
font-size:80%;
padding:5px 5px;
background-color:#ccc;
display:none;
}

#rehtaccessinfo, #htaccessInfo{
	display:none;
}

div.onlyResidential, div.onlyCommercial{
	display:none;
}

.ui-multiselect-all span{
font-size:73%;
}
.ui-multiselect-none span{
font-size:73%;
}

#theListing{
position:fixed;
background:#fff;
width:600px;
right:0px;
top:0px;
padding:5px;
z-index:90;
display:none;
overflow:auto;
}

.nolisting{
position:relative;
width:40%;
margin:25% 30% 0px 30%;
float:left; 
display:none;
}

#modeButton{
z-index:89;
position:fixed;
bottom:0;
right:5px;
padding:5px;
cursor:pointer;
}

#modeButton a{
   text-decoration:none;
}


#reListingsPerPage1, #reListingsPerPage2{
width:50px;
}

#sidebar1 table, #sidebarLogin table{
background-color:inherit;
}

button.ui-multiselect{
    margin:0;
}

.ui-multiselect-checkboxes span{
padding-left:4px;
}

.ssocial{
    padding-top:10px;
}

#sidebar1 h3{
    margin-bottom:10px;
}

#perimeter{
border:1px solid #ccc;
}

.required_field{
    color:#E43737;
    font-size:10px;
    padding-right:2px;
}

#mapResults img {
    max-width: none;
}

.markerInfo{
z-index:110;
padding-bottom: 10px;
overflow:hidden;

}

#hidebar{
/* background-image:url(../images/fancy_nav_left.png); */
background-repeat:no-repeat;
background-position:center;  
height: 30px;
width: 30px;
float:right;
cursor:pointer;
z-index: 100;
}

#showbar{
/* background-image:url(../images/fancy_nav_right.png); */
background-repeat:no-repeat;
background-position:center;  
height: 50px;
width: 50px;
left:20px;
cursor:pointer;
z-index: 100;
position:fixed;
display:none;
}

.listingtype{
width:100px;
}

.fblogin img:hover{
    background-color:#fff;
}

#addListingMap img, #reListingOnMap img { 
  max-width: none;
}
#addListingMap label, #reListingOnMap label { 
  width: auto; display:inline; 
} 

#MapLoadingImage{
    position:absolute;
    z-index:1000;
    top:50%;
    left:50%;
    display:none;
}

.ui-sortable { list-style-type: none; margin: 20px 0; padding: 0; width: 60%; }
.ui-sortable li { margin: 0 3px 3px 3px; padding:0 0.4em 0 1.5em;  font-size: 11px; height: 18px; cursor: move; }
.ui-sortable li span { position: absolute; margin-left: -1.3em; }

.ui-sortable li {
    cursor: move;
    font-size: 11px;
    height: 18px;
    margin: 0 3px 3px;
    padding:0 0.4em 0 1.5em;
}

#listing_attributes{
    border-collapse:separate;
    border:0;
    width:100%;
}

.reAttributes #listing_attributes td{
    padding:2px;
}

.attr_value{
    float:right;
    width:50%;
}

.address_attr{
   margin-bottom:10px;
}

.textimage{
    float:left;
}

.textimage img {
    margin: 0 10px 20px 0;
}

.textrecord {
    clear: both;
    padding: 15px 0;
    cursor:pointer;
}

#textResultsTable{
    clear:both;
}

#textResultsTable .pagination a{
    padding: 0 4px;
    line-height: 16px;
    font-size:85%;
}

#textResultsTable .pagination ul li{
    height:10px;
}

#sidebarResults{
   overflow:auto;
}

.textrecord .textcontent{
  font-size:75%;  
} 

.textrecord .textcontent .textcontent_headline{
 font-weight:bold;   
}

.textcontent_lid {
    font-size: 70%;
}

#mapSidebar .ui-tabs .ui-tabs-panel{
    padding-left:7px;
    padding-right:7px;
}

#sidebarLogin{
    color:#000;
}

.markerInfo .label{
	padding: 0 2px;
}

.top_menu .dropdown-menu{
	left:auto;
	right:1px;
}
.placeholder
{
  color: #aaa;
}

.logo_brand{
	font-size:25px;
}

.logo_brand a:hover{
	text-decoration:none;
}

#subcategoriesSection{
	margin-bottom:15px;
}

#resultTable .gridCell{
	border:1px solid #E6E6E6;
	padding: 10px 0;
}

#resultTable .gridCell:hover{
	border:1px solid #BDBDBD;
	cursor:pointer;
}

#resultTable .listingSmallImageGrid
{
width:100%;
text-align:center;
}

#resultTable .listingSmallImageGrid a{
font-weight:bold;
text-decoration:none;
padding-top:5px;
}

#resultTable .grid_heading{
	text-align:center;
}

#resultTable .allMemNavGrid{
	text-align:center;
	clear:both;
	margin-top:5px;
}

#resultTable .grid_button{
	margin:5px;
}

#textSort{
	width:120px;
}

#resultTable .row .col-md-3, #resultTable .row .col-lg-3 {
    width: 21.8%;
}

#resultTable .row [class*="col-"] {
    -moz-box-sizing: border-box;
    display: block;
    float: left;
    margin-left: 2.5641%;
}

#allcategories .ui-sortable li{
	padding:0 0.4em 0 1.5em;
	font-size:11px;
}
