﻿/* ========== Text Styles ========== */
hr { color: #000000}
body, table, span.rvts0 /* Normal text */
{
 font-size: 10pt;
 font-family: 'Arial', 'Helvetica', sans-serif;
 font-style: normal;
 font-weight: normal;
 color: #000000;
 text-decoration: none;
}
span.rvts1 /* Heading */
{
 font-weight: bold;
 color: #0000ff;
}
span.rvts2 /* Subheading */
{
 font-weight: bold;
 color: #000080;
}
span.rvts3 /* Keywords */
{
 font-style: italic;
 color: #800000;
}
a.rvts4, span.rvts4 /* Jump 1 */
{
 color: #008000;
 text-decoration: underline;
}
a.rvts5, span.rvts5 /* Jump 2 */
{
 color: #008000;
 text-decoration: underline;
}
span.rvts6 /* Font Style */
{
}
span.rvts7
{
 font-weight: bold;
}
a.rvts8, span.rvts8
{
 color: #0000ff;
 text-decoration: underline;
}
a.rvts8:hover { color: #0000ff; }
span.rvts9 /* Font Style */
{
 font-family: 'Tahoma', 'Geneva', sans-serif;
 font-style: italic;
 color: #c0c0c0;
}
a.rvts10, span.rvts10 /* Font Style */
{
 font-family: 'Tahoma', 'Geneva', sans-serif;
 font-style: italic;
 color: #6666ff;
 text-decoration: underline;
}
span.rvts11
{
 font-family: 'consolas';
 color: #0000c0;
 background-color: #e8f2fe;
}
span.rvts12
{
 font-size: 8pt;
}
span.rvts13
{
 font-size: 9pt;
}
span.rvts14
{
 font-size: 9pt;
 font-weight: bold;
}
span.rvts15
{
 font-size: 9pt;
 color: #a23333;
}
span.rvts16
{
 font-size: 9pt;
 font-weight: bold;
 color: #a23333;
}
span.rvts17
{
 color: #a23333;
}
span.rvts18
{
 font-weight: bold;
 color: #a23333;
}
span.rvts19
{
 font-size: 11pt;
 color: #a23333;
}
span.rvts20
{
 font-size: 11pt;
 font-weight: bold;
 color: #a23333;
}
span.rvts21
{
 font-size: 11pt;
 font-family: 'Courier New', 'Courier', monospace;
 color: #000000;
 background-color: #fffbd1;
}
span.rvts22
{
 font-size: 11pt;
 font-family: 'Courier New', 'Courier', monospace;
 color: #484848;
 background-color: #fffbd1;
}
span.rvts23
{
 font-size: 11pt;
 font-family: 'Courier New', 'Courier', monospace;
 color: #3264a0;
 background-color: #fffbd1;
}
span.rvts24
{
 color: #000000;
 background-color: #ffffff;
}
span.rvts25
{
 font-weight: bold;
 color: #000000;
 background-color: #ffffff;
}
span.rvts26
{
 font-size: 11pt;
 font-family: 'Courier New', 'Courier', monospace;
 color: #0000ff;
 background-color: #fffbd1;
}
span.rvts27
{
 font-size: 11pt;
 font-family: 'Courier New', 'Courier', monospace;
 color: #46a609;
 background-color: #fffbd1;
}
span.rvts28
{
 font-family: 'Courier New', 'Courier', monospace;
}
span.rvts29 /* Font Style */
{
 font-size: 13pt;
 font-weight: bold;
 color: #4f81bd;
}
span.rvts30
{
 text-decoration: underline;
}
span.rvts31
{
 font-weight: bold;
 text-decoration: underline;
}
a.rvts32, span.rvts32
{
 font-size: 12pt;
 color: #0000ff;
 text-decoration: underline;
}
a.rvts32:hover { color: #0000ff; }
span.rvts33
{
 font-size: 12pt;
}
span.rvts34
{
 font-size: 12pt;
 font-weight: bold;
}
a.rvts35, span.rvts35
{
 font-size: 9pt;
 font-weight: bold;
 color: #0000ff;
 text-decoration: underline;
}
a.rvts35:hover { color: #0000ff; }
a.rvts36, span.rvts36
{
 font-weight: bold;
 color: #0000ff;
 text-decoration: underline;
}
a.rvts36:hover { color: #0000ff; }
span.rvts37 /* Font Style */
{
 font-size: 11pt;
 font-weight: bold;
 color: #4f81bd;
}
/* ========== Para Styles ========== */
p,ul,ol /* Paragraph Style */
{
 text-align: left;
 text-indent: 0px;
 padding: 0px 0px 0px 0px;
 margin: 0px 0px 0px 0px;
}
.rvps1 /* Centered */
{
 text-align: center;
}
.rvps2 /* Paragraph Style */
{
}
.rvps3 /* Paragraph Style */
{
 text-align: center;
 border-color: #c0c0c0;
 border-style: solid;
 border-width: 1px;
 border-right: none;
 border-left: none;
 padding: 2px 0px 2px 0px;
 margin: 7px 0px 7px 0px;
 display:none;
}
.rvps4 /* Paragraph Style */
{
}
.rvps5 /* Paragraph Style */
{
}
